*{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

:root{
    --prime-color: #f33434;
    --balck-color: #1b1b1b;
}


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 15px;
}


/* *************************** */

.loader-div{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 99999;
    display: grid;
    place-content: center;
}
.loder-hide{
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid var(--prime-color);
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

/* addras bar */

.top-bar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 14px 0;
}
.top-bar-raw{
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.address-side {
    display: flex;
    gap: 10px;
}
.address-side i{
    display: flex;
    margin: 0;
    gap: 10px;
    color: var(--prime-color);
}
.address-side i p{
    font-weight: 300;
    margin: 0;
    color: black;
}
.icon-side{
    display: flex;
    gap: 15px;
}
.icon-side a{
    font-size: 18px;
    color: var(--balck-color);
    transition: all .3s;
}
.icon-side a:hover{
    color: var(--prime-color);
}

/* ********************** */




/* navbar */

.nav-bar{
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 5px  rgba(17, 17, 17, 0.3);
}

.nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
}
.logo{
    width: 200px;
    position: relative;
}
.logo img{
    width:100%;
    /* background-color: #FFF;
    position: absolute;
    padding: 30px 20px;
    top: -45px;
    box-shadow: 0 0 15px 0px rgba(17, 17, 17, 0.5); */
}
.nav-links{
    display: flex;
    gap: 23px;
}
.nav-links-ul{
    position: relative;
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}
.main-li{
    color: var(--balck-color);
    cursor: pointer;
    font-weight: 300;
    padding: 10px 0;
    transition: all .3s linear;
}
.main-li a:hover,
.main-li:hover{
    color: var(--prime-color);
}
.main-li::before{
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: var(--prime-color);
    bottom: 10px;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
}
.main-li:hover::before{
    transform: scaleY(1);
}
.nav-links a{
    color: var(--balck-color);
    font-weight: 300;
}
.toggle-btn{
    color: var(--balck-color);
    font-size: 22px;
    display: none;
    padding: 0 5px;
    border-radius: 5px;
    transition: all .2s;
}
.toggle-btn:hover{
    background-color: #c7c7c7;
    
}

.dropdown-ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    left: 145px;
    top: 45px;
    background-color: #fff;
    margin: 0;
    gap: 16px;
    padding: 40px 30px;
    opacity: 0;
    transition: all .2s;
    border-radius: 10px;
    padding-top: 50px;
    transform: scaleY(0);
    box-shadow: 0 0 5px  rgba(17, 17, 17, 0.3);
    transform-origin: top ;
}
.dropdown-ul li{
    padding: 0;
    transition: all 0.5s;
}

.add{
    opacity: 1;
    transform: scaleY(1);
}
.dropdown-ul li a{
    font-size: 14px;
    color: #2c2c2c;
    border-bottom: #dbdbdb solid 1px;
    padding-bottom: 5px;
    font-weight: 400;
    transition: all 0.5s;
}
.dropdown-ul li a:hover{
    color: #000000;
}
.dropdown-ul li a::before{
    content: "- ";
    opacity: 0;
    transition: all 0.5s;
}
.dropdown-ul li a:hover::before{
    opacity: 1;
}
.dropdown-ul li:hover{
    transform: translateX(5px);
}

/* ************************* */


/* landing Bg */

.land-bg{
    position: relative;
    display: flex;
    align-items: center;
}

.slide-container{
    position: relative;
    width: 100%;
    height: 90vh;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 0;
    background-color: #000000;
}
.image-div{
    position: absolute;
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    animation: slide .5s linear backwards;
}

@keyframes slide{
    0%{
        opacity: .7;
        /* transform: scale(1.1); */
        transform: rotateY(25deg);
    }
  }

/* .img-1{
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url(./images/img-4.jpg);
}
.img-2{
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url(./images/img-2.jpg);
}
.img-3{
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url(./images/img-3.jpg);
} */
.img-1{
    background-image: url(./images/img-4.jpg);
}
.img-2{
    background-image: url(./images/landmarks-modern-city.jpg);
}
.img-3{
    background-image: url(./images/img-3.jpg);
}

.text-div{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-div h1{
    font-family: 'Space Grotesk', sans-serif;
    color: #d32525;
    font-weight: 600;
    font-size: 60px;
    line-height: 55px;
    animation: slide-head .5s linear backwards;
}
.text-div p{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    max-width: 600px;
    margin-bottom: 28px;
    animation: slide-text .5s linear .3s backwards;
}
.get-btn{
    animation: slide-text .5s linear .3s backwards;
}
.get-btn a{
    border: solid 2px var(--prime-color);
    color: var(--prime-color);
    padding: 10px 35px;
    animation: slide-text .5s linear .3s backwards;
    transition: all .5s;
}
.get-btn a:hover{
    color: #ffffff;
    background-color: var(--prime-color);
    padding: 10px 30px;
    letter-spacing: 5px;
}

@keyframes slide-head{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
  }
@keyframes slide-text{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
  }



.slid{
    z-index: 4;
}

.slide-container.actv{
    display: flex;
}

.slide-btn{
    position: absolute;
    z-index: 5;
    outline: none;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    display: grid;
    width: 45px;
    height: 45px;
    place-content: center;
    border-radius: 50%;
    opacity: .7;
    transition: all .5s;
}
.slide-btn:hover{
    opacity: 1;
    color: #1b1b1b;
    background-color: var(--prime-color);
}

.slide-btn i{
    font-size: 30px;
}
.prev{
    left: 20px;
}
.next{
    right: 20px;
}

/* ******************** */



/* icon section  */


.icon-section{
    margin: 50px 0;
    margin-bottom: 0;
}
.icon-raw{
    display: flex;
    flex-wrap: wrap;
    gap: 5px 50px;
    justify-content: center;
}
.icon-set{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-set i{
    font-size: 35px;
    border: solid 1px #1b1b1b;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.icon-set p{
    max-width: 100px;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    line-height: 18px;
}



/* section-2 */
.section-2{
    width: 100%;
    margin: 130px 0;
}
.about-text-side h1{
    font-size: 35px;
    font-weight: 600;
}
.about-text-side h1 span{
    color: var(--prime-color);
}
.about-text-side p{
    margin-top: 15px;
    font-size: 16px;
    max-width: 500px;
}
.more-btn{
    margin: 25px 0;
}

.image-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box{
    position: absolute;
    width: 150px;
    height: 200px;
    border: solid 1px var(--prime-color);
    right: 30px;
    top: -20px;
    background-color: var(--prime-color);
    opacity: .8;
}


/* section 3 */
.head-choose{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-choose h1{
    margin: 20px 0;
    font-size: 35px;
    font-weight: 600;
}
.head-choose h1 span{
    background-color: var(--prime-color);
    color: #fff;
    padding: 0 5px;
    font-weight: 500;
}
.mani-container{
    width: 100%;
    background-color: #ffffed;
    margin: 10px 0;
    padding: 80px 0;
}
.img-set{
    margin-bottom: 20px;
    padding-right: 50px;
}
.man-bg-cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-right: 50PX;
    align-items: end;
    position: relative;
    z-index: 1;
    background-image: url(./images/img-5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.man-img {
    z-index: 5;
}
.man-img img{
    width: 250px;
}
.box-2{
    position: absolute;
    width: 270PX;
    height: 300px;
    border: solid 3px var(--prime-color);
    z-index: 4;
}


.Quality-sect{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
}
.set-icon i{
    font-size: 30px;
    color: var(--prime-color);
}
.set-1{
    display: flex;
    gap: 25px;
}
.set-text h3{
    font-size: 22px;
    color: #1b1b1b;
}
.set-text p{
    font-size: 14px;
    color: #1b1b1b;
    line-height: 18px;
    max-width: 400px;
}
.line-dvr{
    width: 100%;
    height: 1px;
    background-color: var(--prime-color);
}

/* *********************** */

/* whatsappicon */

.btn-whatsapp-pulse {
	background: #25d366;
	color: white;
	position: fixed;
	bottom: 50px;
	right: 20px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 30px;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
    z-index: 99;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}







/* footer */
footer{
    width: 100%;
    padding: 50px 0;
    background-color: #ffffff;
    box-shadow: 5px 15px 30px var(--balck-color);
}
.footer-set{
    margin: 20px auto;
}
.footer-set-box{
    margin-top: 30px;
}
.logo-footer{
    width: 200px;
}
.logo-des{
    color: var(--balck-color);
    margin-top: 10px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 300;
    max-width: 350px;
}
.footer-icon{
    display: flex;
    gap: 10px;
}
.icon-round{
    width: 35px;
    height: 35px;
    background-color: #ececec;
    display: grid;
    place-content: center;
    border-radius: 50%;
    transition: all .2s;
}
.icon-round:hover{
    background-color: #bebebe;
}
.icon-round i{
    font-size: 18px;
    color: #161616;
}

.footer-head{
    font-size: 18px;
    font-weight: 500;
    color: var(--balck-color);
    position: relative;
    margin-bottom: 15px;
}
.footer-head::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: var(--prime-color);
    bottom: 0;
}
.footer-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-contact-dts a,
.footer-links a{
    color: var(--balck-color);
    font-size: 14px;
    font-weight: 400;
    transition: all .3s ;
}
.footer-contact-dts a:hover,
.footer-links a:hover{
    color: var(--prime-color);
}
.footer-contact-dts i{
    margin-right: 10px;
}
.footer-ads{
    margin-bottom: 5px;
}
.footer-input{
    margin-top: 18px;
    position: relative;
    display: flex;
    align-items: center;
}
.footer-input input{
    background-color: #ececec;
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    border: solid 1px #ececec;
}
.footer-input input:focus{
    border: solid 1px #6b6b6b;
}
.footer-input input::placeholder{
    color: #c4c4c4;
}
.footer-input i{
    position: absolute;
    left: 210px;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s linear;
}
.footer-input i:hover{
    color: var(--prime-color);
}

.bottom-line{
    width: 100%;
    height: 1px;
    background-color: var(--balck-color);
    margin-top: 100px;
}
.Copyright-raw{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.Copyright-raw p{
    font-size: 15px;
    color: var(--balck-color);
    font-weight: 300;
}
.Copyright-raw p a{
    color: var(--balck-color);
}



@media (max-width: 768px){
    
    /* navbar */

    .top-bar-raw{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .address-side i{
        font-size: 14px;
    }
    .nav-links{
        width: 250px;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #ebebeb;
        gap: 0;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: start;
        padding-left: 25px;
        opacity: 1;
        transition: all .5s ease;
        transform: translateX(-300px);
    }
    
    .nav-links-ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0px;
        padding: 0;
        margin: 50px 0 0 0;
    }
    .nav-links-ul li{
        color: #000000;
    }
    .nav-links a{
        color: #1b1b1b;
    }
    .toggle-btn{
        cursor: pointer;
        display: block;
    }
    .main-li::before{
        display: none;
    }

    .nav-links-toggle{
        opacity: 1;
        transform: translateX(0);
    }
    .fa-chevron-down{
        font-size: 15px;
        color: #1b1b1b;
    }
        
    .dropdown-ul{
        position: relative;
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: transparent;
        margin: 0;
        gap: 10px;
        padding:  0;
        transition: all .2s;
        border-radius: 0;
        padding-top: 0;
        top: 0;
        left: 0;
        opacity: 0;
        height: 0;
        transform: scaleY(0);
        box-shadow: none;
    }
    .dropdown-ul li{
        padding: 0;
        transition: all 0.5s;
    }
    .add{
        margin: 20px 0;
        opacity: 1;
        height: 100%;
        transform: scaleY(1);
    }
    .dropdown-ul li a{
        font-size: 14px;
        color: #2c2c2c;
        border-bottom: #dbdbdb solid 1px;
        /* padding-bottom: 5px; */
        font-weight: 400;
        transition: all 0.5s;
    }
    .dropdown-ul li a:hover{
        color: #000000;
    }
    /* ******************** */

    .text-div h1{
        font-size: 50px;
        line-height: 50px;
    }
    .slide-btn{
        display: none;
    }

    /* ********* */
    .icon-raw{
        gap: 5px 20px;
    }


    /* footer  */
    .Copyright-raw{
        display: block;
    }
    .Copyright-raw p{
        margin: 0;
    }
}









.VIpgJd-ZVi9od-l4eHX-hSRGPd{
    display: none !important;
}

.skiptranslate select{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    border: none;
    background-color: #161616;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0;
    width: 150px;
}

.skiptranslate select option{
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd{
    display: none;
}



.skiptranslate span{
    display: none;
}
.skiptranslate {
    color: #fff !important;
}

@media (max-width: 768px){
    
    .skiptranslate {
        color: #ebebeb !important;
    }

}